---
layout: default
---

<div class="header-base header-small">
  <div class="central-holder">
    <div class="container central-container">
      <h1 class="ps-4 clip mask-farm animate__animated animate__backInRight"><i class="bi bi-newspaper"></i> Place,
        Maps, and Code</h1>
      <p class="ps-4 mb-0 subtitle animate__animated animate__fadeInRight">
        Place, Maps, and Code is research and personal blog formed of my <b>thoughts</b>, <b>reflections</b>, and
        <b>tutorials</b> on all things related to <b>platial information</b>, <b>software development</b>, and
        <b>mapping technologies</b>.
      </p>
    </div>
  </div>
</div>

<div class="posts">
  {% for post in paginator.posts %}

  <article class="bg-green text-white pt-4 pb-4" style="background-color: {{ post.displaytheme }} !important">
    <a class="text-white" href="{{ site.baseurl }}{{ post.url }}">
      <div id="context" class="container pt-4 pb-4">
        <div class="row">
          <div class="col-lg-7">
            <h3><i class="bi {{ post.icon }}"></i> {{ post.title }}</h3>
            <p class="lead">
              {{ post.subtitle }}
            </p>
            <hr>
            <p>{{ post.excerpt }}</p>
          </div>

          <div class="col">
            <h4><i class="bi bi-clock"></i> Published</h4>
            <p>{{ post.date | date: "%B %e, %Y" }}</p>
            <h4><i class="bi bi-person"></i> Author</h4>
            <p>{{ post.author }}</p>
            <h4><i class="bi bi-chat-square-text"></i> Keywords</h4>
            <p>{{ post.keywords }}</p>
          </div>
        </div>
        <div class="float-end">
          <h5>Read More <i class="bi bi-arrow-right"></i></h5>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
</div>

<div class="container">
  <nav class="ms-auto me-auto mt-4 mb-4" aria-label="Pagination Navigation">
    <ul class="pagination justify-content-center d-flex">
      {% if paginator.previous_page %}
      <li class="page-item w-100">
        <a href="{{ paginator.previous_page_path }}" class="previous page-link text-black main-text">
          <i class="bi bi-arrow-left-square-fill"></i> Previous 
        </a>
      </li>
      {% else %}
      <li class="page-item disabled w-100">
        <a class="page-link text-black main-text"><i class="bi bi-arrow-left-square-fill"></i> Previous</a>
      </li>
      {% endif %}
      <li class="page-item disabled w-100 text-center"><a class="page-link text-black main-text" href="#"><i class="bi bi-file-earmark"></i> Page: {{ paginator.page }} of
          {{ paginator.total_pages }}</a></li>
      {% if paginator.next_page %}
      <li class="page-item w-100 text-end">
        <a href="{{ paginator.next_page_path }}" class="next page-link text-black main-text">Next <i class="bi bi-arrow-right-square-fill"></i></a>
      </li>
      {% else %}
      <li class="page-item disabled w-100 text-end">
        <a href="{{ paginator.next_page_path }}" class="next page-link text-black main-text">Next <i class="bi bi-arrow-right-square-fill"></i></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<!-- from: https://jekyllrb.com/docs/pagination/ and https://getbootstrap.com/docs/5.3/components/pagination/-->