---
layout: default
---

<article class="post">
  <h1></h1>
  <div class="header-base header-small">
    <div class="central-holder">
        <div class="container central-container">
            <h1 class="ps-4 clip mask-farm animate__animated animate__backInRight">{{ page.title }}</h1>
            <p class="ps-4 mb-0 subtitle animate__animated animate__fadeInRight">Short title here.</p>
            <p class="date animate__animated animate__fadeInRight">
              Written on {{ page.date | date: "%B %e, %Y" }}
            </p>
        </div>
    </div>
  </div>

  <div class="bg-green text-white pt-4 pb-4 mb-4">
    <div id="context" class="container pt-4 pb-4">
        <div class="row">
            <div class="col-lg-7">
                <h3>Context</h3>
                <p class="lead">
                    Lead Statement
                </p>
                <hr>
                <p>Brief statement</p>
            </div>

            <div class="col">
                <h4><i class="bi bi-clock"></i> Post Date</h4>
                <p>2024 - Present</p>
                <h4><i class="bi bi-person"></i> Written By:</h4>
                <p>James Williams</p>
                <h4><i class="bi bi-pin-map"></i> Keywords</h4>
                <p>Keywords</p>
            </div>
        </div>
    </div>
</div>

  <div class="entry container">
    {{ content }}
  </div>


</article>
