---
layout: default
---

<article class="post">
  <h1></h1>
  <div class="header-base header-small">
    <div class="central-holder">
        <div class="container central-container">
            <h1 class="ps-4 clip animate__animated animate__backInRight" style="background-image: url('{{ site.baseurl }}/images/{{ page.maskimage }}')"'>{{ page.title }}</h1>
            <p class="ps-4 mb-0 subtitle animate__animated animate__fadeInRight">{{ page.subtitle }}</p>
            <p class="ps-4 date animate__animated animate__fadeInRight">
              Published on {{ page.date | date: "%B %e, %Y" }}
            </p>
        </div>
    </div>
  </div>

  <div class="bg-green text-white pt-4 pb-4 mb-4" style="background-color: {{ page.displaytheme }} !important">
    <div id="context" class="container pt-4 pb-4">
        <div class="row">
            <div class="col-lg-7">
                <h3>Overview</h3>
                <p class="lead">
                  {{ page.lead }}
                </p>
                <hr>
                <p>{{ page.brief }}</p>
            </div>

            <div class="col">
                <h4><i class="bi bi-clock"></i> Published</h4>
                <p>{{ page.date | date: "%B %e, %Y" }}</p>
                <h4><i class="bi bi-person"></i> Author</h4>
                <p>{{ page.author }}</p>
                <h4><i class="bi bi-chat-square-text"></i> Keywords</h4>
                <p>{{ page.keywords }}</p>
            </div>
        </div>
    </div>
</div>

  <div class="entry container p-4">
    {{ content }}
  </div>


</article>
